@import '../../styles/variables.scss';

.wrapper {
    margin: 14px;
}

.card {
    text-decoration: none;
    & img {
        width: 240px;
        border-radius: 5px;
    }

    &__name {
        color: $black;
        font-size: 20px;

        &:hover {
            color: $primary;
        }
    }
}