@import '../../styles/variables.scss';

.wrapper {
    width: 1100px;
    margin: 20px auto;
}

.content {
    background: $white;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.content img {
    width: 250px;
    height: 250px;
    border-radius: $border-radius;
}

.description {
    align-items: center;
}

.name {
    font-size: 40px;
    text-align: center;
}

