.wrapper {
    width: 100%;
    height: 600px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.content {
    background: #fff;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 60%;
}

.content img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.description {
    align-items: center;
}

.name {
    font-size: 40px;
    text-align: center;
}

