@import '../../styles/variables.scss';

.wrapper {
    margin: 10px auto;
    background: $white;
    width: 1100px;
}

.container {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
